body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

.navbar a:hover {
    background-color: #575757;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: 50px;
}

h1 {
    margin: 0;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    min-height: 100vh;
    text-align: center;
    padding-top: 80px;
}

#about-me {
    margin-top: 0;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about-content img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Gallery Section */
#gallery {
    padding: 20px;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Increased gap for better spacing */
}

.gallery-item {
    max-width: 300px; /* Adjust size as needed */
    text-align: center;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.description {
    margin-top: 10px;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
}
/* Hobbies Section */
#hobbies {
    padding: 20px;
}

.description-box {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.description-box h2 {
    margin-top: 0;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.image-item {
    max-width: 300px;
    text-align: center;
}

.image-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.image-description {
    margin-top: 10px;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: none;
    font-size: 24px;
    z-index: 1000;
}

#scroll-to-top:hover {
    background-color: #575757;
}

